body {
  margin: 0;
  padding: 0;
}
.overlay-container {
  background-color: transparent;
  position: fixed;
  margin: 0;
}

.overlay-content {
  background-color: transparent;
  position: relative;
  width: auto;
  z-index: 9999 !important;
}
.overlay-position-top-center {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.overlay-position-top-left {
  top: 0;
  left: 0;
}
.overlay-position-top-right{
  top: 0;
  right: 0;
}
.overlay-position-center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-position-center-left{
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.overlay-position-center-right{
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.overlay-position-bottom-left{
  bottom: 0;
  left: 0;
}
.overlay-position-bottom-right{
  bottom: 0;
  right: 0;
}

.overlay-position-bottom-center{
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}